.header {
  color: #f9a826;
  height: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header_logo {
  position: relative;
}

.header_logo > h2 {
  font-weight: 500;
}

.header_logo span:first-child {
  margin-right: 15px;
}

.header_logo span:last-child {
  color: #f9a826c0;
  position: absolute;
  top: -6px;
  font-size: 0.9rem;
}

.header_actions > a {
  cursor: pointer;
  color: #f9a826;
  outline: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.8rem 2rem;
  border: 1px solid #f9a826;
  background-color: transparent;
  text-decoration: none;
  margin-left: 10px;
}

.header_actions > a > span {
  margin-right: 0.5rem;
}

.header_actions > a:hover {
  background-color: #f9a826;
  color: white;
  transition: all 0.3s;
}

.header_actions > a:visited {
  text-decoration: none;
}

.header_actions > a.active {
  background-color: #f9a826;
  color: white;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .header_actions {
    margin-top: 25px;
  }
  .header_actions > a {
    padding: 0.8rem 1.3rem;
  }
}

@media screen and (max-width: 300px) {
  .header_actions {
    display: flex;
    flex-direction: column;
  }

  .header_actions > a:last-child {
    margin-top: 5px;
  }
}
