<div class="home">
  <div class="home_header">
    <h1>Most wanted</h1>
    <hr />
  </div>
  <div class="home_body">
    <div *ngIf="error" class="home_body_empty">
      <h1>It seems there is a problem.</h1>
      <h2>Please try again later.</h2>
      <img src="../../../assets/undraw_server_down_s4lk.png" alt="Empty cart" />
    </div>
    <div class="container" *ngIf="!error">
      <app-product-card
        *ngFor="let product of products; let i = index"
        [product]="product"
      ></app-product-card>
    </div>
  </div>
</div>
