.summary {
  padding: 16px;
  /* margin: 10px; */
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
  border-radius: 5px;
}

.summary_header h1 {
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
}
