<div class="shopping_cart">
  <div class="shopping_cart_header">
    <h1>Shopping cart</h1>
    <hr />
  </div>
  <div class="shopping_cart_body">
    <div class="container">
      <div
        *ngIf="(products | async).shoppingCartProducts.length == 0"
        class="shopping_cart_body_empty"
      >
        <h1>Your cart is empty</h1>
        <a routerLink="/">Buy the most wanted products now!</a>
        <img src="../../assets/undraw_empty_cart_co35.png" alt="Empty cart" />
      </div>
      <table
        class="shopping_cart_table"
        *ngIf="(products | async).shoppingCartProducts.length != 0"
      >
        <thead>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantitty</th>
          <th>Total</th>
          <th></th>
        </thead>
        <tbody>
          <tr
            app-shopping-cart-product-row
            *ngFor="
              let product of (products | async).shoppingCartProducts;
              let i = index
            "
            [product]="product"
          ></tr>
          <!-- <tr
            class="shopping_cart_table_row_item"
            *ngFor="
              let product of (products | async).shoppingCartProducts;
              let i = index
            "
          >
            <td class="shopping_cart_table_col_img">
              <div *ngIf="loadingImg">
                <app-spinner></app-spinner>
              </div>
              <img
                [hidden]="loadingImg"
                [src]="product.product.photo"
                [alt]="[product.product.name]"
                (load)="loadingImg = false"
              />
            </td>
            <td class="shopping_cart_table_col_description">
              <div class="col_description">
                <p>{{ product.product.name }}</p>
                <p>REF: {{ product.product.id }}</p>
              </div>
            </td>
            <td class="shopping_cart_table_col_price">
              <span>{{ product.product.price | currency }}</span>
            </td>
            <td class="shopping_cart_table_col_qtt">
              <div class="col_qtt_actions">
                <button (click)="removeItem(i, product)">-</button>
                <span>{{ product.qtt }}</span>
                <button (click)="addItem(i, product)">+</button>
              </div>
            </td>
            <td class="shopping_cart_table_col_total">
              {{ product.total | currency }}
            </td>
            <td>
              <div class="col_row_actions">
                <span (click)="deleteItem(i)"><i class="fa fa-trash"></i></span>
              </div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
