<div class="shopping_cart">
  <div class="shopping_cart_header">
    <h1>Shopping cart</h1>
    <hr />
  </div>
  <div class="shopping_cart_body">
    <div class="container" *ngIf="!smallLayout">
      <table class="shopping_cart_table">
        <thead>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantitty</th>
          <th>Total</th>
          <th></th>
        </thead>
        <tbody>
          <!-- *ngFor="
          let product of (products | async).shoppingCartProducts;
          let i = index
        " -->
          <tr class="shopping_cart_table_row_item">
            <td class="shopping_cart_table_col_img">
              <img
                src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                alt="[product.product.name]"
              />
            </td>
            <td class="shopping_cart_table_col_description">
              <div class="col_description">
                <p>Product 1</p>
                <p>REF: 12345</p>
              </div>
            </td>
            <td class="shopping_cart_table_col_price"><span>45 €</span></td>
            <td class="shopping_cart_table_col_qtt">
              <div class="col_qtt_actions">
                <button>-</button>
                <span>2</span>
                <button>+</button>
              </div>
            </td>
            <td class="shopping_cart_table_col_total">90€</td>
            <td>
              <div class="col_row_actions">
                <span><i class="fa fa-trash"></i></span>
              </div>
            </td>
          </tr>
          <tr class="shopping_cart_table_row_item">
            <td class="shopping_cart_table_col_img">
              <img
                src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                alt="[product.product.name]"
              />
            </td>
            <td class="shopping_cart_table_col_description">
              <div class="col_description">
                <p>Product 1</p>
                <p>REF: 12345</p>
              </div>
            </td>
            <td class="shopping_cart_table_col_price"><span>45 €</span></td>
            <td class="shopping_cart_table_col_qtt">
              <div class="col_qtt_actions">
                <button>-</button>
                <span>2</span>
                <button>+</button>
              </div>
            </td>
            <td class="shopping_cart_table_col_total">90€</td>
            <td>
              <div class="col_row_actions">
                <span><i class="fa fa-trash"></i></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container_smallLayout" *ngIf="smallLayout">
      <app-product-list
        *ngFor="
          let product of (products | async).shoppingCartProducts;
          let i = index
        "
        [product]="product"
        [index]="i"
      ></app-product-list>
    </div>
  </div>
</div>
<!--  -->
