.shopping_cart {
  padding: 15px;
  /* box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12); */
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.3rem;
  /* width: 90%; */
  margin: 20px auto;
}

.shopping_cart_header {
  /* width: 60%; */
  margin: 0 auto;
  padding-bottom: 5px;
}

.shopping_cart_header > h1 {
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.container {
  /* width: 60%; */
  padding: 5px;
}

.shopping_cart_table {
  width: 100%;
  margin-top: 20px;
  border: 0;
  border-collapse: separate;
  border-spacing: 0 5px;
}

th {
  font-size: 1.2rem;
  font-weight: 600;
  /* border-bottom: 1px solid lightgray; */
  padding: 0 0 20px 0;
}

tr {
  text-align: center;
}

tr > td {
  padding: 10px;
  border-top: 1px solid lightgray;
}

tr > td:first-child {
  width: 150px;
}

tr > td:first-child > img {
  width: 100%;
  object-fit: cover;
}

.col_description > p:first-child {
  font-size: 1.1rem;
  font-weight: 500;
}

.col_description > p:last-child {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.shopping_cart_table_col_price {
  font-size: 1.3rem;
  font-weight: 500;
}

.col_qtt_actions {
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 120px;
  margin: 0 auto;
}

.col_qtt_actions span {
  flex-grow: 2;
  flex-basis: 50%;
}

.col_qtt_actions button {
  width: 38px;
  height: 100%;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s ease-in;
}

.col_qtt_actions button:hover {
  background-color: orange;
  color: white;
}

.shopping_cart_table_col_total {
  font-size: 1.3rem;
  font-weight: 500;
  color: #f9a826;
}

.col_row_actions span {
  cursor: pointer;
  font-size: 1.2rem;
}

.col_row_actions span:hover > i {
  color: #f9a826;
  transform: scale(1.2);
  transition: 0.3s linear;
}

@media screen and (max-width: 992px) {
  .col_description > p:first-child {
    font-size: 0.95rem;
  }

  .shopping_cart_table_col_price {
    font-size: 1.1rem;
    font-weight: 400;
  }

  tr > td:first-child {
    width: 100px;
  }
  tr > td:first-child > img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0;
  }

  .shopping_cart_table thead {
    display: none;
  }

  tr {
    position: relative;
    border-bottom: 1px solid lightgray;
  }

  tr > td {
    border: none;
    padding: 0;
  }

  .shopping_cart_table tr {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto auto;
    padding: 30px 0px;
  }

  .shopping_cart_table_col_img {
    width: 100%;
    padding: 10px 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
  }

  .shopping_cart_table_col_description {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    text-align: start;
  }

  .col_description > p:first-child {
    font-size: 0.95rem;
  }

  .shopping_cart_table_col_price {
    display: none;
  }

  .shopping_cart_table_col_qtt {
    font-size: 0.9rem;
    width: 100%;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
  }

  .col_qtt_actions {
    width: 90px;
  }

  .shopping_cart_table_col_total {
    grid-column-start: 2;
    padding: 10px 10px;
    width: 100%;
    grid-row-start: 2;
    justify-self: start;
    align-self: center;
    font-size: 1.1rem;
    text-align: start;
  }
  .col_row_actions {
    position: absolute;
    top: 14px;
    right: 5px;
    width: initial;
    padding: 0;
  }
}
